{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="stock">
                <option disabled="" selected="" value="">Symbol</option>
                    {% for row in userStocks %}

                        <option value= "{{ row }}"> {{ row }}</option>

                    {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input id="submitEntry" autocomplete="off" class="form-control" min="0" name="shares" placeholder="Shares" type="number">
        </div>
        <button id="submitButton" class="btn btn-primary" type="submit">Sell</button>
    </form>

<script src="static/scripts.js"></script>

{% endblock %}